<ion-header>
  <ion-navbar>
    <ion-title>
      Kulüp
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card id="content">
    <br> <br>
    <ion-avatar>
      <img src="./assets/images/logo.png">
    </ion-avatar>
    <br>
    <ion-card-header text-center text-uppercase>
      <h2> Ankarunning | RunningWild</h2>
    </ion-card-header>
    <ion-card-content text-center>
      2014 Mayıs ‘tan itibaren Ankara ‘da haftada 2 gün değişik lokasyonlarda rutin antrenmanlar yapan, günlük hayatlarından sporu
      çıkartmayan, düzenli koşu ve fitness antrenmanlarını tam disiplinle yapan ama bir yandan da eğlenmeyi unutmayan, içinde
      profesyonel ve amatör sporcuların olduğu bir ekiptir.
    </ion-card-content>
    <br>
  </ion-card>
  <div class="wrapper" style="background-image: url('./assets/images/club1.jpg');"></div>
</ion-content>
