page-club {
  .card-ios {
    margin: 0px !important;
    width: 100% !important;
  }
  .card-ios h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  .grey-back {
    background-color: #ccc;
  }
  ion-avatar {
    //position: absolute;
    //top: 0px;
    width: 100%;
    //z-index: 2;
    text-align: center;
  }
  #content img {
    display: block;
    border-radius: 120px;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    margin: 0 auto 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }

  .wrapper {
   margin: auto;
   height: 100%;
   background-size: cover;
   background-position: center center;
}
}
