page-photos{
    .image-container{
        min-height: 100px;
        background-size: cover;
    }

    @media (min-width: 420px) {
        .image-container{
            min-height: 200px;
        }
    }
}