<ion-header>
  <ion-navbar>
    <ion-title>
      Bize Ulaşın
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <ion-card>
    <ion-card-header text-center>
        <br><br>
        <h2> email </h2>
      </ion-card-header>
      <ion-card-content text-center>
          <button (click)="emailUs()"><ion-icon item-start> <i class="fa fa-envelope" aria-hidden="true"></i></ion-icon> info@ankarunning.com</button> 
      </ion-card-content> 

      <ion-card-header text-center>
          <h2>telefon </h2>
        </ion-card-header>
        <ion-card-content text-center>
            <button (click)="callUs()"><ion-icon item-start> <i class="fa fa-phone-square" aria-hidden="true"></i></ion-icon> 0312.111.9999</button>
        </ion-card-content>

        <ion-card-header text-center>
            <h2> sosyal ağlar </h2>
          </ion-card-header>
          <ion-card-content text-center>
                <button (click)="openFacebook()" color="light"><ion-icon><i class="fa fa-3x fa-facebook-f" aria-hidden="true"></i></ion-icon></button>
                <button (click)="openInstagram()" color="dark"><ion-icon><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></ion-icon></button>
          </ion-card-content>
 </ion-card>
</ion-content>
