<ion-header>
    <ion-navbar>
        <ion-title class="center">
          Antrenman Rotaları
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
        <ion-slides pager>
            <ion-slide>
              <ion-card>
                <div class="maps" id="avm"></div>
                <ion-card-content>
                  <ion-card-title>
                    Arcadium AVM
                  </ion-card-title>
                  <p>
                    Her çarşamba yapılan şehir koşularının adresi.       
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card>
                <div class="maps" id="lake"></div>
                <ion-card-content>
                  <ion-card-title>
                    Eymir Göl
                  </ion-card-title>
                  <p>
                    Her pazar Ankara'nın en güzel manzarası eşliğinde koşuyoruz.
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card>
                <div class="maps" id="forest"></div>
                <ion-card-content>
                  <ion-card-title>
                    Eymir Orman
                  </ion-card-title>
                  <p>
                    Arada orman havası da alalım. 
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
          
    
</ion-content>